.about {
  background: #000;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .about-wrapper {
    padding: 1em;
    width: 90%;
    .circle {
      width: 100%;
      border-radius: 100%;
      max-width: 400px;
      margin: 0 auto 2em auto;
      img {
        width: 100%;
        border-radius: 100%;
        object-fit: contain;
        display: block;
      }
    }
    .paragraph {
      h2 {
        position: relative;
        display: inline-block;
        margin-bottom: 2rem;
        font-weight: 600;
        font-size: 2rem;
        &::before {
          content: '';
          position: absolute;
          border: 1px solid cyan;
          height: 2px;
          bottom: -5px;
          width: 100%;
          background: cyan;
        }
      }
    }
    p {
      line-height: 1.6;
      font-size: clamp(1rem, 1.2vw, 2rem);
      max-width: 600px;
    }
  }
}

// media queries
@media screen and (min-width: 780px) {
  .about {
    .about-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      .circle {
        margin: 0;
        margin-right: 6em;
      }
    }
  }
}
