// Typography
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

// Colors
$body-background: linear-gradient(
  210.32deg,
  #000000 -14.45%,
  rgba(0, 0, 0, 0) 60.77%
);
$cyan: #00e4f2;
$light-dark: #34343d;
$more-dark: #262629;
$transparent-cyan: rgba(0, 228, 242, 0.2);
$card-gray: #292929;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1c1c21;
  font-family: 'Poppins', sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.App {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

// components
.link-btn {
  font-size: 1.5rem;
  font-weight: 500;
  background: none;
  border: 2px solid $cyan;
  color: $cyan;
  border-radius: 5px;
  padding: 0.5em 2em;
  &:hover {
    background: $transparent-cyan;
  }
}

.headings {
  position: relative;
  display: inline-block;
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 3rem;
  &::before {
    content: '';
    position: absolute;
    border: 1px solid cyan;
    height: 2px;
    bottom: -5px;
    width: 100%;
    background: cyan;
  }
}
